* {
    margin: 0;
    padding: 0;
}
.main {
    padding: 80px;
}
.bee {
    background: grey;
    height: 250px;
    width: 400px;
}
.bee-head {
    background: #3D270C;
    width: 150px;
    height: 75px;
    margin: 0 auto;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.container {
    width: 200px;
}
.bee-eyes {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-top: 25px;
    margin-right: 27px;
    margin-left: 32px;
    position: relative;
}
.bee-eyes:last-child{
    margin-left: 0;
    margin-right: 0;
}
.bee-pupil {
    background: #3D270C;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 8px;
    left: 8px;
    position: relative;
}

