.penguin {
    height: 220px;
    width: 300px;
    position: relative;
}
.penguin-body-black {
    width: 80px;
    height: 220px;
    background: black;
    border-bottom-right-radius: 440px;
    border-top-left-radius: 440px;
    position: absolute;
    left: 40px;
    z-index: 2;
}
.penguin-body-white {
    width: 80px;
    height: 220px;
    background: #F4FAEF;
    border-bottom-right-radius: 440px;
    border-top-left-radius: 440px;
    position: absolute;
    left: 120px;
    z-index: 2;
}
.penguin-eye {
    width: 35px;
    height: 35px;
    background: #F0EB00;
    float: right;
    border-radius: 70px;
    margin: 25px 15px;
}
.penguin-pupil {
    width: 20px;
    height: 20px;
    background: #1D1D18;
    border-radius: 8px;
    margin: 7px;
    float: right;
}
.penguin-filler-black {
    width: 80px;
    height: 75px;
    background: black;
    position: absolute;
    left: 120px;
}
.penguin-filler-white {
    width: 80px;
    height: 80px;
    background: #F4FAEF;
    position: absolute;
    bottom: 0;
    left: 40px;
}
.penguin-beak-upper {
    background: #FAB600;
    width: 50px;
    height: 50px;
    float: right;
    border-top-right-radius: 100px;
    z-index: 2;
    right: 50px;
    position: absolute;
}
.penguin-beak-lower {
    background: #F79600;
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 100px;
    position: relative;
    top: 20px;
    right: 75px;
}
.penguin-foot {
    width: 70px;
    height: 20px;
    background: #FAB600;
    float: right;
    position: absolute;
    bottom: 0;
    right: 110px;
    border-top-right-radius: 40px;
}



